<head>
    <link rel = "stylesheet" href = "/static/css/style.css">
    <p>paola's webpage...</p>
</head>

<body>
    <h1> Wellcome to this page. </h1>
    <p class = "circle" href="~">
        <span>White<br>Lion</span>
    </p>
    <img src="/static/images/whitelion.jpg" alt="Lion">
    <p class = "circle" href="~">
        <span>Cat</span>
    </p>
    <img class ='catimage' src="/static/images/cat.jpg" alt="cat">
    <p class = "circle" href="~">
        <span>Wolf</span>
    </p>
    <img class ='wolfimage' src="/static/images/wolf.jpg" alt="wolf">
    <p><br></p>
    <a href="https://www.google.com">Twitter</a>
    <p> thank you for reading! </p>
    <p> coming soon! </p>
</body>
